@model VacTrack.Models.Appointment.PassengerModel
@{
    ViewData["Title"] = "Add Appointment";
}
<h2>Add Appointment</h2>
<form action="@Url.Action("Create", "Appointment")" method="post" class="row">
    <div class="col-sm-6 mb-3">
        <label for="PatientID" class="form-label">Patient</label>
        <select class="form-select" aria-label="Default select example" id="PatientID" name="PatientID">
            <option default>Select Patient</option>
            @foreach (var patient in Model.Patients.OrderBy(i => i.LastName))
            {
                <option value="@patient.PatientID">@patient.FirstName @patient.LastName</option>
            }
        </select>
    </div>
    <div class="col-sm-6 mb-3">
        <label for="VaccinationLocationID" class="form-label">Vaccination Location</label>
        <select class="form-select" aria-label="Default select example" id="VaccinationLocationID" name="VaccinationLocationID">
            <option default>Select Vaccination Location</option>
            @foreach (var vaccloc in Model.VaccinationLocations.OrderBy(i => i.Vaccine.Name).ThenBy(i => i.Location.LocationName))
            {
                <option value="@vaccloc.VaccinationLocationID">@vaccloc.Vaccine.Name - @vaccloc.Location.LocationName</option>
            }
        </select>
    </div>
    <div class="col-sm-6 mb-3">
        <label for="DateTime" class="form-label">Date</label>
        <input type="datetime-local" class="form-control" id="Date" name="DateTime">
    </div>


    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>