@model VacTrack.Models.Appointment.PassengerModel
@{
    ViewData["Title"] = "Edit Appointment";
}
<h2>Edit Appointment</h2>
<form action="@Url.Action("Edit", "Appointment", new { id = Model.AppointmentID})" method="post" class="row">
    <div class="col-sm-6 mb-3">
        <label for="PatientID" class="form-label">Patient</label>
        <select class="form-select" aria-label="Default select example" id="PatientID" name="PatientID">
            @{
                foreach (var patient in Model.Patients)
                {
                    if (Model.PatientID == patient.PatientID)
                    {
                        <text>
                            <option value="@patient.PatientID" selected>@patient.FirstName</option>
                        </text>
                    }
                    else
                    {
                        <text>
                            <option value="@patient.PatientID">@patient.FirstName</option>
                        </text>
                    }

                }
            }

        </select>
    </div>
    <div class="col-sm-6 mb-3">
        <label for="VaccinationLocationID" class="form-label">Vaccination Location</label>
        <select class="form-select" aria-label="Default select example" id="VaccinationLocationID" name="VaccinationLocationID">
            @{
                foreach (var vaccLocation in Model.VaccinationLocations)
                {
                    if (Model.VaccinationLocationID == vaccLocation.VaccinationLocationID)
                    {
                        <text>
                            <option value="@vaccLocation.VaccinationLocationID" selected>@vaccLocation.Location.LocationName @vaccLocation.Vaccine.Name </option>
                        </text>
                    }
                    else
                    {
                        <text>
                            <option value="@vaccLocation.VaccinationLocationID">@vaccLocation.Location.LocationName @vaccLocation.Vaccine.Name </option>
                        </text>
                    }

                }
            }

        </select>
    </div>
    <div class="col-sm-6 mb-3">
        <label for="DateTime" class="form-label">Date</label>
        <input type="datetime-local" class="form-control" id="Date" name="DateTime">
    </div>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="@Url.Action("Delete", "Appointment",new { id = Model.AppointmentID})" class="btn btn-danger">Delete</a>
    </div>
</form>