@model PantherPickup.Models.Location.LocationModel
@{
    ViewData["Title"] = "Location Info";
}
<h2> Location Info</h2>
Name: @Model.LocationName<br />
Address: @Model.Address<br />
City: @Model.City<br />
State: @Model.State<br />
Zip Code: @Model.ZipCode<br/>