@model VacTrack.Models.VaccinationLocation.VaccinationLocationModel
@{
    ViewData["Title"] = "Vaccination Location Info";
}
<h2> Vaccination Location Info</h2>
Vaccine: @Model.Vaccine.Name<br />
Name: @Model.Location.LocationName<br />
Address: @Model.Location.Address<br />
City: @Model.Location.City<br />
State: @Model.Location.State<br />
Zip Code: @Model.Location.ZipCode<br/>