@model VacTrack.Models.VaccinationLocation.VaccinationLocationModel
@{
    ViewData["Title"] = "Edit Vaccination Location";
}
<h2>Edit Vaccination Location</h2>
<form action="@Url.Action("Edit", "VaccinationLocation", new { id = Model.VaccinationLocationID})" method="post" class="row">
    <div class="col-sm-6 mb-3">
        <label for="LocationID" class="form-label">Location</label>
        <select class="form-select" aria-label="Default select example" id="LocationID" name="LocationID">
            @{
                foreach (var location in Model.Locations)
                {
                    if (Model.LocationID == location.LocationID)
                    {
                        <text>
                            <option value="@location.LocationID" selected>@location.LocationName</option>
                        </text>
                    }
                    else
                    {
                        <text>
                            <option value="@location.LocationID">@location.LocationName</option>
                        </text>
                    }

                }
            }

        </select>
    </div>
    <div class="col-sm-6 mb-3">
        <label for="VaccineID" class="form-label">Vaccine</label>
        <select class="form-select" aria-label="Default select example" id="VaccineID" name="VaccineID">
            @{
                foreach (var vaccine in Model.Vaccines)
                {
                    if (Model.VaccineID == vaccine.VaccineID)
                    {
                        <text>
                            <option value="@vaccine.VaccineID" selected>@vaccine.Name</option>
                        </text>
                    }
                    else
                    {
                        <text>
                            <option value="@vaccine.VaccineID">@vaccine.Name</option>
                        </text>
                    }

                }
            }

        </select>
    </div>
    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="@Url.Action("Delete", "VaccinationLocation",new { id = Model.VaccinationLocationID})" class="btn btn-danger">Delete</a>
    </div>
</form>